; Gunicorn for {{ project_name }}
[program:{{ project_name }}]
command={{ project_venv }}/bin/gunicorn run:app --bind=:{{ gunicorn_port }} --workers={{ gunicorn_workers }} --log-level=warning --log-file=-
environment=IPHOPRINT_SETTINGS={{ project_config }}
directory={{ project_root }}
stdout_logfile = /var/log/supervisor/{{ project_name }}-application.log
stdout_logfile_backups = 5
stderr_logfile = /var/log/supervisor/{{ project_name }}-error.log
stderr_logfile_backups = 5
autostart = true
